@font-face {
  font-family: 'DamagedEdding';
  src: url('DamagedEddingRegular.eot');
  src: url('DamagedEddingRegular.eot?#iefix') format('embedded-opentype'),
       url('DamagedEddingRegular.svg#DamagedEddingRegular') format('svg'),
       url('DamagedEddingRegular.ttf') format('truetype'),
       url('DamagedEddingRegular.woff') format('woff'),
       url('DamagedEddingRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

